# Ignore large datasets and temporary files  
data/
models/
results/
residuals/
kt_tuner_dir/

# Ignore Python cache and environment files  
__pycache__/  
*.pyc  
*.pyo  
*.pyd  
venv/  
.env  

# Ignore Jupyter notebook checkpoints  
.notebooks_checkpoints/
/.ipynb_checkpoints

# Ignore logs and temporary files  
logs/  
*.log  
*.tmp  
*.out
# Ignore system-specific files  
.DS_Store  
Thumbs.db  

